*{
    margin: 0;
    padding: 0;
}
@font-face {
	src: url(../fonts/Lato-Regular.ttf);
	font-family: lato-r;
}

@font-face {
	src: url(../fonts/Lato-Light.ttf);
	font-family: lato-l;
}

@font-face {
	src: url(../fonts/Lato-Bold.ttf);
	font-family: lato-b;
}

@font-face {
	src: url(../fonts/Lato-Black.ttf);
	font-family: lato-bl;
}
.menu-top .navbar-brand{
	color: white;
	font-family: lato-r;
}
.menu-top .navbar .nav-item .nav-link{
	color: white;
	font-family: lato-r;
}
.menu-top{
		background-color: #21c2f8;
}
body{
	font-family: lato-r;
}