/* Reset CSS */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

a.navbar-brand.logo {
	padding-top: 0px;
}

@font-face {
	src: url(../fonts/Lato-Regular.ttf);
	font-family: lato-r;
}

@font-face {
	src: url(../fonts/Lato-Light.ttf);
	font-family: lato-l;
}

@font-face {
	src: url(../fonts/Lato-Bold.ttf);
	font-family: lato-b;
}

@font-face {
	src: url(../fonts/Lato-Black.ttf);
	font-family: lato-bl;
}

._menu-top {
	border-top: 5px solid #0787d4;
	background-color: #21c2f8;
}

._menu-top .icon {
	padding-top: 12px;
	padding-bottom: 16px;
}

._menu-top .icon a {
	color: white;
	display: inline;
	padding: 0 8px;
}

._menu-top ._btn {
	float: right;
}

._menu-top ._btn a:hover {
	color: #a1b1bc;
}

._menu-top ._btn .btn-outline-light {
	font-family: lato-b;
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
	border-radius: 1px;
	border: 1px solid white;
	height: 29px;
	margin-top: 10px;
	margin-left: 5px;
}

ul._menu li.nav-item a.nav-link {
	font-size: 14px;
	text-transform: uppercase;
	font-family: lato-r;
	color: #2c3e50;
	padding: 0;
	margin: 0;
	margin: 0 18px;
	padding: 40px 0px;
	border-top: 5px solid transparent;
}

ul._menu li.nav-item:hover a.nav-link {
	border-color: #1abc9c;
}

ul._menu li.nav-icon:hover a.nav-link {
	border-color: white;
}

ul._menu li.nav-icon a.nav-link {
	color: #a1b1bc;
	font-size: 16px;
	padding: 39px 0px;
}

._main-menu .navfix {
	padding: 0;
}

@media only screen and (max-width:960px) {
	ul._menu li.nav-item {
		height: 35px;
	}
	ul._menu li.nav-item a.nav-link {
		padding: 0;
		padding-left: 25px;
		height: 35px;
		padding-top: 2px;
	}
	ul._menu li.nav-icon a.nav-link {
		display: none;
	}
	.icon {
		text-align: center;
	}
	ul._menu li.nav-item:hover a.nav-link {
		background-color: #1abc9c;
		transition: all 0.3s;
		color: white;
	}
	._menu-top ._btn {
		text-align: center;
		padding-right: 250px;
		margin-bottom: 10px;
	}
	._main-menu .fix-btn {
		margin-right: 80px;
	}
}

@media only screen and (max-width:540px) {
	ul._menu li.nav-item {
		height: 35px;
	}
	ul._menu li.nav-item a.nav-link {
		padding: 0;
		padding-left: 25px;
		height: 35px;
		padding-top: 2px;
	}
	ul._menu li.nav-icon a.nav-link {
		display: none;
	}
	.icon {
		text-align: center;
	}
	ul._menu li.nav-item:hover a.nav-link {
		background-color: #1abc9c;
	}
	._menu-top ._btn {
		text-align: center;
		padding-right: 100px;
		padding-bottom: 10px;
	}
}

a.navbar-brand.logo {
	padding-top: 0px;
}

._main-menu .fix-btn {
	margin-right: 40px;
}

.carousel-item .carousel-caption {
	bottom: 40%;
	text-align: left;
}

.carousel-item .carousel-caption ._4item li {
	list-style: none;
	font-family: lato-b;
	font-size: 24px;
	line-height: 50px;
	color: #1a1c27;
}

.carousel-item .carousel-caption h5,
.carousel-item .carousel-caption h1 {
	font-size: 26px;
	font-family: lato-r;
	color: #222533;
	text-transform: uppercase;
}

.carousel-item .carousel-caption h1 {
	font-size: 50px;
	font-family: lato-b;
}

.carousel-item .carousel-caption .btn {
	border-radius: 0px;
}

.carousel-item .carousel-caption .btn-dark {
	padding: 0;
	padding: 13px 50px;
	background-color: #1a1c27;
	text-transform: uppercase;
}

.carousel-item .carousel-caption ._4item li img {
	padding-right: 14px;
}

.slide_btn .nut {
	background: none;
	border: 1px solid white;
	width: 50px;
	height: 50px;
	top: 50%;
	margin: 0 10px;
}

.slide_btn .nut:hover {
	background-color: #222533;
	border-color: #222533;
}

.about ._left {
	margin-top: 83px;
}

.about ._right {
	padding-right: 0px;
}

.about ._left h1,
.pro ._left h1 {
	font-family: lato-l;
	font-size: 36px;
	line-height: 50px;
	color: #2c3e50;
}

.about ._left p,
.pro ._left p {
	font-family: lato-r;
	font-size: 14px;
	line-height: 24px;
	color: #a1b1bc;
	padding-top: 15px;
	padding-bottom: 4px;
}

.about ._left h3 {
	font-family: lato-b;
	font-size: 15px;
	line-height: 24px;
	color: #2c3e50;
}

.about ._left ._btn,
.pro ._left .btn {
	background-color: #a1b1bc;
	border-color: #a1b1bc;
	border-radius: 1px;
	border-bottom: 3px solid #81919b;
	/* box-shadow: 0px 3px #81919b; */
	position: relative;
}

.about ._left ._btn:hover,
.pro ._left ._btn:hover {
	background-color: #1a1c27;
}

.about ._left ._2btn {
	float: right;
}

.about ._left ._2btn:hover,
.pro ._left ._2btn:hover {
	background-color: none;
}

.about ._left ._2btn i {
	padding-left: 24px;
	color: #a8b6c1;
	font-size: 12px;
}

.about ._left h5 {
	font-family: lato-b;
	font-size: 15px;
	color: #2c3e50;
	line-height: 24px;
}

.card {
	border-radius: 0px;
}

.amazing {
	margin-top: 200px;
}

.amazing h1 {
	font-family: lato-l;
	font-size: 36px;
	color: #2c3e50;
	margin-bottom: 50px;
}

.amazing .top,
.bot {
	height: 50px;
	border: 1px solid #e7eaee;
}

.amazing .bot {
	height: 200px;
	background-color: #a1b1bc;
}

.amazing .top p {
	font-size: 14px;
	color: #2c3e50;
	font-family: lato-b;
	line-height: 24px;
	padding: 14px 0 20px 0px;
}

.amazing .top p.icon_ {
	color: #a1b1bc;
	font-size: 16px;
	font-family: lato-r;
}

.pro {
	margin-top: 200px;
}

.pro ._left {
	padding: 0;
}

.pro ._left img {
	padding-left: 54px;
}

.num {
	margin-top: 100px;
}

.num .num_ {
	height: 200px;
	background-color: #1ad5b0;
}

.num .num_ .col_1 {
	background-color: #20caa8;
}

.num .num_ .col_2 {
	background-color: #20caa8;
	background-color: #1ad5b0;
}

.num .num_ .col_2:hover,
.num .num_ .col_1:hover {
	background-color: #2c3e50;
	cursor: pointer;
}

.num .num_ ._txt {
	padding-top: 77px;
}

.num .num_ ._txt h1 {
	font-family: lato-l;
	font-size: 30px;
	line-height: 24px;
	color: #ffff;
}

.num .num_ ._txt p {
	font-family: lato-bl;
	font-size: 14px;
	color: #ffffff;
	line-height: 24px;
}